In [1]:
n=input("Enter number");
print("Value of n:",n);

Enter number10
Value of n: 10

In [1]:
n1=int(input("Enter number"))
n2=int(input("Enter number"))
print("Value of n1 and n2 are respectively %d,%d" %(n1,n2))
print("value=%.2f"%123.34567)
print("value =%i" %n1)
print("value =%s" %'Hello')
print("vale of n1={} and n2={}".format(n1,n2))
print("Value of n1",n1);

Enter number10
Enter number20
Value of n1 and n2 are respectively 10,20
value=123.35
value =10
value =Hello
vale of n1=10 and n2=20
Value of n1 10

In [17]:
print("%c" %97)
print("%c" %65)
print("%c" %48)
print("%c" %57)
print("%c" %122)
print("%c" %90)

a
A
0
9
z
Z

In [55]:
for i in range(97,123):
     print("%c" %i,end=' ')
        
print()

for i in range(97,123):
     print("%c" %i,end=" ")
        
print()
print("hello","Welcome","Hi",end='The end')   
print()
print("hello","Welcome","Hi",sep='/',end='The end')

a b c d e f g h i j k l m n o p q r s t u v w x y z
a b c d e f g h i j k l m n o p q r s t u v w x y z
hello Welcome HiThe end
hello/Welcome/HiThe end

In [61]:
for i in range(1,6):
    
    for j in range(65,65+i):
         print("%c" %j,end=" ");
    print()

A
A B
A B C
A B C D
A B C D E

In [63]:
for i in range(1,6):
    n1=64+i;
    n2=n1+i;
    for j in range(n1,n2):
        print("%c" %j,end=" ");
    print();

A
B C
C D E
D E F G
E F G H I

In [65]:
print(chr(97));

a

In [66]:
k=1
for i in range(97,102):
    k=k+1
    for j in range(1,k):
        print("%c" %i,end=" ");
    print();

a
b b
c c c
d d d d
e e e e e

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
         print(i,end=" ");
    print();

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5